<div *ngIf="customer">
    <h1>Orders for {{ customer.name | capitalize }}</h1>

    <mat-table [dataSource]="orderItems" class="mat-elevation-z8">
      <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef> Product name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.productName }} </mat-cell>
        <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="itemCost">
        <mat-header-cell *matHeaderCellDef> Item cost </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.itemCost }} </mat-cell>
        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="row-hover no-cursor"></mat-row>
    </mat-table>
</div>

<div *ngIf="!customer">
   No customer selected
</div>

