@use 'src/app/styles/global/_table-row-hover'

.mat-form-field
  font-size: 14px
  width: 100%

.btns
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-around

.btns > div
  margin-bottom: 10px

mat-table
  table-layout: fixed

mat-header-cell
  overflow: hidden
  width: 200px
  text-overflow: ellipsis
  white-space: nowrap
